@font-face {
    font-family: "EricaOne-Regular";
    src: local("EricaOne-Regular"),
     url("./../../public/fonts/EricaOne/EricaOne-Regular.ttf") format("truetype");
    font-weight: normal;
}


@font-face {
    font-family: "DaysOne";
    src: local("DaysOne-Regular"),
     url("./../../public/fonts/DaysOne/DaysOne-Regular.ttf") format("truetype");
    font-weight: normal;
}