@import url("./reset.css");
@import url("./importFount.scss"); 
@import url("./valueColor.scss");


body, main, .App {
    height: 100%;
    width: 100%;
    overflow: hidden;

}

* {
    transition: background-color 1000ms linear, fill 1000ms linear, color 1000ms linear, border 1000ms;
}
