.WhiteStyle {
    --bg: #FFAFCC;
    --color-text: #FFFFFF;
    --main-color: #FF025E;
    --element-1: #FFC8DD;
    --element-2: #BDE0FE;
    --element-3: #CDB4DB;
}

.BlackStyle {
    --bg: #0656a1;
    --color-text: #ffffff;
    --main-color: #0d1b2a;
    --element-1: #415a77;
    --element-2: #778da9;
    --element-3: #98c1d9;
}