.IndexPage {
    z-index: 10;
    width: 100vw;
    height: 100vh;

    .MainHeader {
        z-index: 2;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        font-family: "EricaOne-Regular", sans-serif;
        font-weight: 400;

        display: flex;
        flex-direction: column;
        gap: 20px;
        

        .title {
            text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
            font-size: 250px;
            color: var(--main-color);
        }

        .typeCompany {
            text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.5);
            font-size: 35px;
            color: var(--color-text);
        }
    }

    .Schedule {
        z-index: 2;
        position: absolute;
        top: 70px;
        left: 30px;

        .icon-buble {
            -webkit-filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));

            path {
                fill: var(--main-color);
            }
        }

        .text {
            @extend %text-for-buble;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .Order {
        cursor: pointer;

        z-index: 2;
        position: absolute;
        top: 600px;
        left: 200px;

        .icon-buble {
            -webkit-filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));

            path {
                fill: var(--main-color);
            }
        }

        .text {
            @extend %text-for-buble;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    }

    %text-for-buble {
        width: 100%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: var(--color-text);
        text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);

        text-align: center;
        font-family: "DaysOne", sans-serif;
        font-weight: 400;
        font-size: 25px;
    }

    .container-for-next {
        z-index: 2;
        position: absolute;
        left: 35%;
        bottom: 100px;
        transform: translate(-50%, -50%);
    }

    .NextButton {
        display: grid;
        align-content: center;

        border: none;
        border-radius: 100px;
        width: 500px;
        height: 100px;
        box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5);
        background: #fff;

        font-family: "EricaOne-Regular";
        text-align: center;
        font-weight: 400;
        font-size: 80px;
        color: var(--main-color);

        cursor: pointer;
    }
}